In [ ]:
import pandas as pd
import numpy as np

dataset_path = "../dataset/mlcourse-dota2-win-prediction/train_features.csv"

df = pd.read_csv(dataset_path)

print("Dataset shape:", df.shape)

print("Columns:", df.columns)

print("Unique game modes:", np.unique(df["game_mode"]))
print("Total number of game modes:", len(df["game_mode"]))
print("Number of games with game mode 22:", len(df[df["game_mode"]==22]))
df_22 = df[df["game_mode"]==22]
print("Number of games with game mode 2:", len(df[df["game_mode"]==2]))
df_2 = df[df["game_mode"]==2]

print("Number of games with game mode 22 and lobby type 7:", len(df_22[df_22["lobby_type"]==7]))

print("Number of games with game mode 22 and lobby type 0:", len(df_22[df_22["lobby_type"]==0]))

print("Number of games with game mode 2 and lobby type 7:", len(df_2[df_2["lobby_type"]==7]))

print("Number of games with game mode 2 and lobby type 0:", len(df_2[df_2["lobby_type"]==0]))
print("Number of games with game mode 2 and lobby type 0 (using &):", len(df[(df["game_mode"]==2) & (df["lobby_type"]==0)]))
print("Number of games with game mode 2 and lobby type 0 (using query):", len(df.query("game_mode == 2 and lobby_type == 0")))

single_hero_labels = [s for s in df.columns if s.startswith('d1')]
print("Single hero labels:", single_hero_labels)

hero_id_labels = [s for s in df.columns if s.endswith('_hero_id')]
print("Hero ID labels:", hero_id_labels)

hero_category = 5 # carry - midlaner - offlaner - roamer - support

hero_id_set = {i: set() for i in range(len(hero_id_labels))}

hero_id_set_tot = set()

for n, label in enumerate(hero_id_labels):
    for id in df[label]:
        hero_id_set[n].add(id)

for i in range(len(hero_id_labels)):
    print(f"Number of unique hero IDs in column {i}:", len(hero_id_set[i]))
    hero_id_set_tot = hero_id_set_tot.union(hero_id_set[i])

print("Total number of unique hero IDs:", len(hero_id_set_tot))

Dataset shape: (39675, 246)
Columns: Index(['match_id_hash', 'game_time', 'game_mode', 'lobby_type',
       'objectives_len', 'chat_len', 'r1_hero_id', 'r1_kills', 'r1_deaths',
       'r1_assists',
       ...
       'd5_stuns', 'd5_creeps_stacked', 'd5_camps_stacked', 'd5_rune_pickups',
       'd5_firstblood_claimed', 'd5_teamfight_participation',
       'd5_towers_killed', 'd5_roshans_killed', 'd5_obs_placed',
       'd5_sen_placed'],
      dtype='object', length=246)
Unique game modes: [ 2  3  4  5 12 16 22 23]
Total number of game modes: 39675
Number of games with game mode 22: 31762
Number of games with game mode 2: 408
Number of games with game mode 22 and lobby type 7: 25795
Number of games with game mode 22 and lobby type 0: 5967
Number of games with game mode 2 and lobby type 7: 379
Number of games with game mode 2 and lobby type 0: 29
Number of games with game mode 2 and lobby type 0 (using &): 29
Number of games with game mode 2 and lobby type 0 (using query): 29
Single hero labels: ['d1_hero_id', 'd1_kills', 'd1_deaths', 'd1_assists', 'd1_denies', 'd1_gold', 'd1_lh', 'd1_xp', 'd1_health', 'd1_max_health', 'd1_max_mana', 'd1_level', 'd1_x', 'd1_y', 'd1_stuns', 'd1_creeps_stacked', 'd1_camps_stacked', 'd1_rune_pickups', 'd1_firstblood_claimed', 'd1_teamfight_participation', 'd1_towers_killed', 'd1_roshans_killed', 'd1_obs_placed', 'd1_sen_placed']
Hero ID labels: ['r1_hero_id', 'r2_hero_id', 'r3_hero_id', 'r4_hero_id', 'r5_hero_id', 'd1_hero_id', 'd2_hero_id', 'd3_hero_id', 'd4_hero_id', 'd5_hero_id']
Number of unique hero IDs in column 0: 115
Number of unique hero IDs in column 1: 115
Number of unique hero IDs in column 2: 115
Number of unique hero IDs in column 3: 115
Number of unique hero IDs in column 4: 115
Number of unique hero IDs in column 5: 115
Number of unique hero IDs in column 6: 115
Number of unique hero IDs in column 7: 115
Number of unique hero IDs in column 8: 115
Number of unique hero IDs in column 9: 115
Total number of unique hero IDs: 115

In [5]:
df[single_hero_labels].describe()

,d1_hero_id,d1_kills,d1_deaths,d1_assists,d1_denies,d1_gold,d1_lh,d1_xp,d1_health,d1_max_health,...,d1_stuns,d1_creeps_stacked,d1_camps_stacked,d1_rune_pickups,d1_firstblood_claimed,d1_teamfight_participation,d1_towers_killed,d1_roshans_killed,d1_obs_placed,d1_sen_placed
count,39675.000000,39675.000000,39675.000000,39675.000000,39675.000000,39675.000000,39675.000000,39675.000000,39675.000000,39675.000000,...,39675.000000,39675.000000,39675.000000,39675.000000,39675.000000,39675.000000,39675.000000,39675.000000,39675.000000,39675.000000
mean,51.710347,3.168544,3.246881,4.700265,6.479219,7201.097064,65.435261,8352.204184,952.819030,1323.007007,...,11.635409,1.009175,0.332754,4.635766,0.089754,0.418460,0.318563,0.027498,1.197908,0.739761
std,34.344258,3.773800,3.238487,5.298880,8.416625,6562.240831,77.329993,7550.811402,690.678362,634.472253,...,20.177958,3.587444,0.956204,4.608758,0.285833,0.268381,0.750841,0.182473,2.507568,2.330810
min,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,320.000000,...,-10.727492,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,21.000000,0.000000,1.000000,1.000000,1.000000,2187.000000,11.000000,2291.500000,531.000000,840.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.241379,0.000000,0.000000,0.000000,0.000000
50%,46.000000,2.000000,2.000000,3.000000,3.000000,5346.000000,38.000000,6015.000000,848.000000,1160.000000,...,1.333057,0.000000,0.000000,3.000000,0.000000,0.444444,0.000000,0.000000,0.000000,0.000000
75%,81.000000,5.000000,5.000000,7.000000,9.000000,10348.500000,92.000000,12525.000000,1315.000000,1655.000000,...,15.859372,0.000000,0.000000,7.000000,0.000000,0.600000,0.000000,0.000000,1.000000,0.000000
max,120.000000,36.000000,30.000000,40.000000,76.000000,61189.000000,930.000000,30985.000000,7510.000000,7540.000000,...,272.926060,138.000000,26.000000,50.000000,1.000000,2.000000,7.000000,4.000000,23.000000,43.000000

In [9]:
target_path = "../dataset/mlcourse-dota2-win-prediction/train_targets.csv"

target = pd.read_csv(target_path)

target['radiant_win'] = target['radiant_win'].astype(int)

target.describe()

          game_time   radiant_win      duration  time_remaining
count  39675.000000  39675.000000  39675.000000    39675.000000
mean    1146.082798      0.524915   2328.413711     1182.330914
std      767.206621      0.499385    671.803393      770.779229
min        0.000000      0.000000    901.000000       31.000000
25%      521.000000      0.000000   1872.500000      554.000000
50%     1044.000000      1.000000   2270.000000     1087.000000
75%     1656.000000      1.000000   2746.000000     1694.000000
max     4933.000000      1.000000   5638.000000     5108.000000